<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  </head>
  <body>
    <!-- <header>
      <nav>
        <ul>
          <li class="navleft"><a href="#">Home</a></li>
        </ul>

        <ul>
            <li class="right-nav"><a href="#">How it works</a></li>
        </ul>
      </nav>
    </header> -->

    <section class="hero">
      <div class="hero-login">
        <h1>Games on your time!</h1>
        <p>Easily find, join, and create pick-up games wherever you are. You know no bounds.</p>
        <p>Get your game on all in one place.</p>
        <a href="/login"><button class="login-button">Login</button></a>
        <a href="/signup"><button class="login-button">Sign Up</button></a>
        </div>
    </section>

    <!-- <section class="bottomContainer">
      <h4>HOWIT WORKS</h4>

      <h4>ABOUT</h4>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section> -->

    <script src="main.js" charset="utf-8"></script>
    <!-- <footer></footer> -->
  </body>
</html>
